@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover_active {
    @apply bg-gradient-to-r from-[#FA5252] to-[#DD2476];
  }
}
@layer utilities {
  .active {
    @apply bg-gradient-to-r from-[#FA5252] to-[#DD2476] text-slate-50;
  }
}

@layer base {
  body{
    background-image: url("/images/bg-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
  }
 .dark body {
      background-image: url("/images/bg-image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      animation: gradientBG 15s ease infinite;
     
 
    }

    @keyframes gradientBG {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
  
}